<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="../static/images/logo.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>FORUM</title>
</head>
</head>
<body>
    {{ template "header" .}}
    <main class="main_container">
           <div class="offset">
                <!--LIST OF TAGS  -->
                <div class="tags card bg-white">
                    <h3 class="font-semibold">Tags</h3>
                    <form class="flex flex-col" action="/showposts" method="GET">
                            {{range .categories}}
                            <div class="flex items-center w-full cursor-pointer transition duration-300 hover:text-blue-400 duration-300 transition categories">
                                <input type="checkbox" id="category--{{.Name}}" class="cursor-pointer" name="category" value="{{.Name}}"/>
                                <label for="category--{{.Name}}" class="ml-2 cursor-pointer w-full">{{.Name}}</label>
                            </div>
                            {{end}}
                            <button class="bg-indigo-600 py-2 px-2 rounded-lg mt-2 text-white">search</button>
                    </form>
                </div>
                <!-- IF USER AUTH SHOW THIS BLOCK -->
                <div class="middleContainer">
                    <div class="flex flex-col w-full border-b border-indigo-600 py-3 px-2 mb-2">
                        <span class="text-2xl font-bold">Activity</span>
                        <!-- Tab buttons -->
                        <div class="tabs flex space-x-4 mt-4 mb-2 px-2 py-2">
                            <button class="tab-button active" onclick="showTab('Posts')"  data-index="0">Posts</button>
                            <button class="tab-button" onclick="showTab('LikesDislikes')"  data-index="1">Likes and Dislikes</button>
                            <button class="tab-button" onclick="showTab('Comments')"  data-index="2">Comments</button>
                        </div>
                    </div>

                    <div  id="Posts" class="flex w-full flex-col tab-content active">
                        {{range .user_posts}}
                        <span class="text-xl my-3">My posts</span>
                        <div class="flex w-full flex-col rounded-lg py-3 px-4 mt-3 duration-300 transition bg-white">
                            <div class="flex w-full items-center justify-between">
                                <div class="user_icon post_icon ">
                                    <i class="fa-solid fa-user"></i>
                                </div>
                                <div class="flex flex-col ml-2 w-1/4">
                                    <span class="text-base text-slate-400 font-extralight italic mb-1">
                                        {{ .AuthorName }}
                                    </span>
                                    <span class="text-base text-slate-400 font-extralight italic mt-1s">
                                        {{ .CreatedAt.Format "02-01-2006 15:04"}}
                                    </span>
                                </div>
                                <div class="w-2/5 flex flex-col">
                                    <a href="/post?id={{ .ID }}" class="text-2xl text-blue-500 font-semibold hover:text-blue-600 transition duration-300 cursor-pointer break-words overflow-wrap-break-word">
                                        {{.Title}}
                                    </a>
                                    <span class="text-xl text-blue-500 break-words overflow-wrap-break-word">
                                        {{.Content}}
                                    </span>
                                </div>
                                
                            </div>
                        </div>
                        {{end}}
                    </div>


                    <div id="LikesDislikes" class="tab-content">
                        <span class="text-xl my-3">Likes and Dislikes</span>
                        {{range .likes_dislikes_post}}
                        <div class="flex w-full flex-col rounded-lg py-3 px-4 mt-3 duration-300 transition bg-white">
                            <div class="flex w-full items-center justify-between">
                                <div class="user_icon post_icon ">
                                    <i class="fa-solid fa-user"></i>
                                </div>
                                <div class="flex flex-col ml-2 w-1/4">
                                    <span class="text-base text-slate-400 font-extralight italic mb-1">
                                        {{ .AuthorName }}
                                    </span>
                                    <span class="text-base text-slate-400 font-extralight italic mt-1s">
                                        {{ .CreatedAt.Format "02-01-2006 15:04"}}
                                    </span>
                                </div>
                                <div class="w-2/5 flex flex-col">
                                    <a href="/post?id={{ .ID }}" class="text-2xl text-blue-500 font-semibold hover:text-blue-600 transition duration-300 cursor-pointer break-words overflow-wrap-break-word">
                                        {{.Title}}
                                    </a>
                                    <span class="text-xl text-blue-500 break-words overflow-wrap-break-word">
                                        {{.Content}}
                                    </span>
                                </div>

                                <span class="text-base mt-2 w-1/4">
                                    {{if eq .UserReaction "like"}} 
                                        You liked this post
                                    {{else}} 
                                        You disliked this post
                                    {{end}}
                                </span>
                                
                            </div>
                        </div>
                        {{end}}                    
                    </div>

                    <div id="Comments" class="tab-content">
                        <span class="text-xl my-3">Comments</span>
                        {{range .comment_posts}}
                        <div class="flex w-full flex-col rounded-lg py-3 px-4 mt-3 duration-300 transition bg-white">
                            <div class="flex w-full items-center justify-between">
                                <div class="user_icon post_icon ">
                                    <i class="fa-solid fa-user"></i>
                                </div>
                                <div class="flex flex-col ml-2 w-1/4">
                                    <span class="text-base text-slate-400 font-extralight italic mb-1">
                                        {{ .AuthorName }}
                                    </span>
                                    <span class="text-base text-slate-400 font-extralight italic mt-1s">
                                        {{ .CreatedAt.Format "02-01-2006 15:04"}}
                                    </span>
                                </div>
                                <div class="w-3/5 flex flex-col">
                                    <a href="/post?id={{ .ID }}" class="text-2xl text-blue-500 font-semibold hover:text-blue-600 transition duration-300 cursor-pointer break-words">
                                        {{.Title}}
                                    </a>
                                    <span class="text-xl text-blue-500 break-words overflow-wrap-break-word ">
                                        {{.Content}}
                                    </span>
                                </div>
                                <span class="text-base mt-2 w-1/4">
                                    You commented this post
                                </span>
                            </div>
                            <div class="flex w-full flex-col mt-4 border-t border-gray-300 pt-4">
                                <span class="text-lg font-semibold text-slate-600 mb-3">Comments:</span>
                                {{range .Comments}}
                                <div class="flex items-center bg-gray-100 rounded-lg p-3 mb-3 shadow-sm ">
                                    <div class="user_icon comment_icon mr-3">
                                        <i class="fa-solid fa-comment text-slate-500"></i>
                                    </div>
                                    <div class="flex flex-col">
                                        <span class="text-base text-slate-600 font-medium break-all">
                                            {{.Content}}
                                        </span>
                                    </div>
                                </div>
                                {{end}}
                            </div>
                            
                        </div>
                        {{end}}
                    </div>

                </div>
        
            {{if .authenticated_user }}
            <div class="rSide">
                <div class="welcome card">
                    <div>
                        <h2 class="welcome_text" style="font-weight: 600; font-size: xx-large;">Hi, {{.authenticated_user.Username}}</h2>
                        <span style="font-size: larger;">Glad to see you!</span>
                    </div>
                </div>
                <div class="userInfo card">
                    {{ template "user_info" .}}
                </div>
            </div>
            {{end}}
            </div>
    </main>
    <script>
        function showTab(tabName) {
              // Скрыть все вкладки
              const tabs = document.querySelectorAll('.tab-content');
              tabs.forEach(tab => tab.classList.remove('active'));
  
              // Убрать класс active с всех кнопок
              const buttons = document.querySelectorAll('.tab-button');
              buttons.forEach(button => button.classList.remove('active'));
  
              // Показать выбранную вкладку
              document.getElementById(tabName).classList.add('active');
  
              // Выделить активную кнопку
              const activeButton = document.querySelector(`.tab-button[onclick="showTab('${tabName}')"]`);
              activeButton.classList.add('active');
          }
      </script>
    <script src="/static/js/script.js"></script>
</body>
</html>