{{ template "index" .}}
{{define "header"}}
<header class="header">
    <div class="offset">
        <div class="header_wrapper">
            <a class="logo" href="/">
                <h2>FORUM</h2>
            </a>
                <form class="pagesList" action="/user/posts/" method="GET">
                    <input type="hidden" name="filter" id="filter" value="all">
                    {{if .authenticated_user }}
                        <a href="/" class="text-xl hover:text-blue-500 transition duration-300 mx-2">Home</a>
                        <a href="/myposts" class="text-xl hover:text-blue-500 transition duration-300 mx-2">My posts</a>
                        <a href="/likedposts" class="text-xl hover:text-blue-500 transition duration-300 mx-2s">Liked posts</a>
                    {{end}}
                </form>
            {{ if .authenticated_user}}
            <div class="flex sign-out">
                <a href="/notifications" class="text-2xl flex items-center justify-center mx-2 bg-indigo-500 py-2 px-2 rounded-lg cursor-pointer hover:text-white duration-300 transition">
                    <i class="fa-solid fa-bell"></i>
                    {{ if gt .count_notification 0 }}
                    <span class="absolute top-0 right-16 bg-red-600 text-white text-xs rounded-full w-5 h-5 flex items-center justify-center">
                        {{ .count_notification }}
                    </span>
                    {{ else }}
                    <span class="hidden"></span>
                    {{ end }}
                </a>
                <div class="flex items-center justify-center mx-2">
                    <i class="fa fa-user-circle text-2xl hover:text-red-600  cursor-pointer transition duration-300"></i>
                </div>
                <form method="POST" action="/logout" class="flex items-center justify-center ml-2">
                    <button class="flex items-center justify-center text-2xl hover:text-red-600  transition duration-300" type="submit">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </button>
                </form>
            </div>
            {{else}}
            <div class="auth_bnts">
                <a class="btn_auth bg-indigo-500 hover:bg-indigo-600 duration-300 transition" href="/login">
                sign-in
                </a>
                <a class="btn_auth btn_signup bg-blue-500 hover:bg-blue-600 duration-300 transition" href="/signup">sign-up</a>
            </div>
            {{end}}     
        </div>
    </div>
    <div class="header_burger" onclick="toggleMenu()">
        <span></span>
    </div>     
    <nav class="mobile_menu">
        {{if .authenticated_user}}
        <div class="flex w-full items-center" style="padding: 10px;">
            <span style="font-weight: 500; font-size: 1.25rem;">{{ .Username}}</span>
        </div>
        {{end}}
        <ul>
            {{ if .authenticated_user }}
                <li><a href="/" class="text-xl hover:text-blue-500 transition duration-300"><i class="fas fa-home mr-2"></i>Home</a></li>
                <li><a href="/myposts" class="text-xl hover:text-blue-500 transition duration-300"><i class="fas fa-user-edit mr-2"></i>My posts</a></li>
                <li><a href="/likedposts" class="text-xl hover:text-blue-500 transition duration-300"><i class="fas fa-thumbs-up mr-2"></i>Liked posts</a></li>
                <li><a href="/post/create" class="text-xl hover:text-blue-500 transition duration-300"><i class="fas fa-plus-circle mr-2"></i>Create Post</a></li>
                <li>
                    <a href="/notifications" class="text-xl hover:text-blue-500 transition duration-300">
                    <i class="fas fa-bell mr-2"></i>Notifications 
                        {{ if gt .count_notification 0 }}
                        <span class="ml-1 bg-indigo-500 text-white rounded-full py-1 px-2">
                            {{ .count_notification }}
                        </span>
                        {{ else }}
                        <span class="hidden"></span>
                        {{ end }}
                    </a>
                </li>
            {{end}}
            {{if not .authenticated_user}}
                <li><a href="/login" class="text-xl">Sign In</a></li>
                <li><a href="/signup" class="text-xl">Sign Up</a></li>
            {{end}}

            {{ if .authenticated_user }}
            <form method="POST" action="/logout" class="flex items-center justify-start" style="padding: 10px;">
                <button class="flex items-center justify-center text-xl" type="submit">
                    <i class="fas fa-sign-out-alt mr-2"></i> Sign-out
                </button>
            </form>
            {{end}}
        </ul>
    </nav>
</header>
{{end}}