{{ template "index" .}}
{{define "header"}}
<header class="header">
    <div class="offset">
        <div class="header_wrapper">
            <a class="logo" href="/">
                <h2>FORUM</h2>
            </a>
                <form class="pagesList" action="/user/posts/" method="GET">
                    <input type="hidden" name="filter" id="filter" value="all">
                    {{if .authenticated_user }}
                    <a href="/" class="text-xl hover:text-blue-500 transition duration-300 mx-2">Home</a>
                    <a href="/myposts" class="text-xl hover:text-blue-500 transition duration-300 mx-2">My posts</a>
                    <a href="/likedposts" class="text-xl hover:text-blue-500 transition duration-300 mx-2s">Liked posts</a>
                    {{end}}
                </form>
            {{ if .authenticated_user}}
            <div class="flex sign-out">
                <form method="POST" action="/logout" class="flex items-center justify-center ml-2">
                    <button class="flex items-center justify-center text-2xl hover:text-red-600  transition duration-300" type="submit">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </button>
                </form>
            </div>
            {{else}}
            <div class="auth_bnts">
                <a class="btn_auth bg-indigo-500 hover:bg-indigo-600 duration-300 transition" href="/login">
                sign-in
                </a>
                <a class="btn_auth btn_signup bg-blue-500 hover:bg-blue-600 duration-300 transition" href="/signup">sign-up</a>
            </div>
            {{end}}     
        </div>
    </div>
    <div class="header_burger" onclick="toggleMenu()">
        <span></span>
    </div>     
    <nav class="mobile_menu">
        {{if .authenticated_user}}
        <div class="flex w-full items-center" style="padding: 10px;">
            <span style="font-weight: 500; font-size: 1.25rem;">{{ .Username}}</span>
        </div>
        {{end}}
        <ul>
            {{ if .authenticated_user }}
                <li><a href="/" class="text-xl hover:text-blue-500 transition duration-300">Home</a></li>
                <li><a href="/myposts" class="text-xl hover:text-blue-500 transition duration-300">My posts</a></li>
                <li><a href="/likedposts" class="text-xl hover:text-blue-500 transition duration-300">Liked posts</a></li>
                <li><a href="/post/create" class="text-xl">Create Post</a></li>
            {{end}}
            {{if not .authenticated_user}}
            <li><a href="/login" class="text-xl">Sign In</a></li>
            <li><a href="/signup" class="text-xl">Sign Up</a></li>
            {{end}}

            {{ if .authenticated_user }}
            <form method="POST" action="/logout" class="flex items-center justify-start" style="padding: 10px;">
                <button class="flex items-center justify-center" type="submit">
                   Sign-out
                </button>
            </form>
            {{end}}
        </ul>
    </nav>
</header>
{{end}}