{{define "posts"}}
{{if .posts}}
    {{range .posts}}
    <div class="postCard post card">
        <div class="w-full flex flex-col justify-between">
            <div class="post_header">
                <div class="user_icon post_icon">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="flex w-full justify-between">
                    <!-- AUTHOR -->
                    <div class="flex flex-col ml-2">

                        <span class="text-base text-slate-400 font-extralight italic">
                            {{ .AuthorName }} {{ .CreatedAt.Format "02-01-2006 15:04"}}
                        </span>
                    </div>
                   
                   
                </div>
            </div>
            <div class="flex w-full flex-col py-4 px-4 break-words">
                <a href="/post?id={{ .ID }}" class="text-4xl text-black hover:text-blue-400 transition duration-300">{{ .Title }}</a>
                <!-- POST DESCRIPTION -->
                <p class="text-lg my-2">{{ .Content }}</p>
                <!-- POST TAGS -->
                <div class="flex flex-wrap w-full my-2 break-words">
                    {{range .Categories}}
                        <span class="mr-1 text-base cursor-pointer text-gray-500 text-sm italic hover:text-red-600 transition duration-300">#{{.Name}}</span>
                    {{end}}
                </div>
                <!-- LIKE AND DISLIKE -->
                <div class="flex w-full mt-4">
                    <div class="header_wrapper">
                        <div class="flex">
                            <form action="/post/reaction/create" method="POST">
                                <input type="hidden" name="post_id" value="{{.ID}}">
                                <input type="hidden" name="reaction" value="like">
                                <button class="btn_like" type="submit">
                                    <i class="fa-regular fa-thumbs-up mx-1"></i> Liked({{ .LikesCount }})
                                </button>
                            </form>
                            <form action="/post/reaction/create" method="POST">
                                <input type="hidden" name="post_id" value="{{.ID}}">
                                <input type="hidden" name="reaction" value="dislike">
                                <button class="btn_like" type="submit">
                                    <i class="fa-regular fa-thumbs-down mx-1"></i> Disliked({{ .DislikesCount }})
                                </button>
                            </form>
                        </div>
                        <a href="/post?id={{ .ID }}" class="btn_like">
                            <i class="fa-regular fa-comments mx-1 text-2xl"></i>{{ .CommentsCount }}
                        </a>
                    </div>
                </div>
                <hr class="w-full mt-3 bg-gray-500"/>
            </div>
        </div>
    </div>
    {{end}}
{{else}}
    <h1 class="text-5xl my-2" style="color: white;">EMPTY</h1>
{{end}}
{{end}}
