<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>SignUp</title>
</head>
<body>
    {{ template "header" .}}
    <div class="main_container">
        <div class="sign offset">
            <div class="form_wrappper">
                <div class="form">
                <form  action="/signup" method="POST">
                    <div class="flex w-full items-center justify-center">
                        <h2 class="text-2xl mb-8">Signup</h2>
                    </div>
                    {{if .error }}
                        <label class="text-red-600 my-2"> {{ .error}}</label>
                    {{end}}
                    <div class="mt-3">
                        <label for="email" class="block text-base mb-2">Username</label>
                        <input 
                            id="email"
                            type="text"
                            placeholder="&#128100; username" 
                            class="py-4 px-4 border border-neutral-500 my-2 rounded-md w-full"
                            name="username"
                            value="{{.signup_request.Username}}"
                            />
                        <label class="text-red-600 my-2"> {{ .errors_map.username}}</label>
                    </div>
                    <div class="mt-3">
                        <label for="email" class="block text-base mb-2">Email</label>
                        <input 
                            id="email"
                            type="email"
                            placeholder="&#128231; email" 
                            class="input_email"
                            name="email"
                            value="{{.signup_request.Email}}"
                            />
                        <label class="text-red-600 my-2"> {{ .errors_map.email}}</label>
                    </div>
                    <div class="mt-3">
                        <label for="password" class="block text-base mb-2">Password</label>
                        <input 
                            id="password"
                            type="password"
                            placeholder="&#128274; password" 
                            class="input_email"
                            name="password"
                            value="{{.signup_request.Password}}"
                            />
                        <label class="text-red-600 my-2"> {{ .errors_map.password}}</label> 
                    </div>
                    <button
                    type="submit" 
                    class="w-full py-3 px-3 bg-indigo-500 mt-3 rounded-lg text-white font-bold hover:bg-indigo-600 transition duration-300">Signup</button>
                    <div class="w-full flex items-center justify-center mt-5 mb-5">
                        <span class="text-base">OR</span>
                    </div>
                </form>
                <div class="flex w-full flex-col my-2">
                    <a href="/login/google/callback" class="flex items-center justify-center bg-blue-600 py-2 px-2 text-white font-extrabold text-xl rounded-lg hover:bg-blue-700 transition duration-300" type="submit">
                        <i class="fa-brands fa-google"></i>
                        <span class="ml-3 text-2xl">Continue with Google</span>
                    </a>
                </div>
                <div class="flex w-full flex-col my-2">
                    <a href="/login/github/callback" class="flex items-center justify-center bg-blue-600 py-2 px-2 text-white font-extrabold text-xl rounded-lg hover:bg-blue-700 transition duration-300" type="submit">
                        <i class="fa-brands fa-github"></i>
                        <span class="ml-3 text-2xl">Continue with GitHub</span>
                    </a>
                </div>
                <div class="haveAcc">
                    <span class="text-base">Already have an account?<a href="/login" style="color: rgb(12, 112, 199);">Login</a></span>
                </div>
                <div class="flex w-full text-center items-center justify-center my-2">
                    <a href="/" style="font-size: larger; color: white;">HOME</a>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
<script src="/static/js/script.js"></script>
</html>