{{define "user_info"}}
    <div class="flex w-full flex-col">
        <div class="user_card bg-indigo-600 rounded-t-lg">
            <div class="user_icon">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
        <div class="user_card flex-col">
            {{if .authenticated_user}}
                <span style="font-weight: 500; font-size: 1.25rem;">{{ .authenticated_user.Username}}</span>
            {{end}}

            <form action="/moderator-request" method="POST" class="mt-5">
                <button type="submit" class="px-4 py-2 bg-blue-600 text-white font-semibold rounded-lg hover:bg-blue-700">
                    <i class="fas fa-user-shield"></i> Apply for Moderator
                </button>
            </form>



            <div id="confirmationModal" class="hidden fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50">
                <div class="bg-white p-6 rounded-lg shadow-lg">
                    <h2 class="text-xl font-semibold text-center">Success!</h2>
                    <p class="mt-2 text-center">Your request has been submitted.</p>
                    <div class="mt-4 text-center">
                        <button id="closeModal" class="px-4 py-2 bg-blue-600 text-white font-semibold rounded-lg hover:bg-blue-700">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{end}}