{{define "user_info"}}
    <div class="flex w-full flex-col">
        <div class="user_card bg-indigo-600 rounded-t-lg">
            <div class="user_icon">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
        <div class="user_card flex-col">
            {{if .authenticated_user}}
                <span style="font-weight: 500; font-size: 1.25rem;">{{ .authenticated_user.Username}}</span>
            {{end}}

            {{if .check_moderator_request }}
                <div class="flex items-center justify-center w-full bg-green-100 p-4 rounded-lg border border-green-200">
                    <i class="fas fa-check-circle text-green-500 mr-2"></i>
                    <span class="text-lg font-semibold text-green-600">Your application to become a moderator has been successfully submitted!</span>
                </div>
            {{else}}
            <form action="/moderator-request" method="POST" class="mt-5">
                <button type="submit" class="px-4 py-2 bg-blue-600 text-white font-semibold rounded-lg hover:bg-blue-700">
                    <i class="fas fa-user-shield"></i> Apply for Moderator
                </button>
            </form>
            {{end}}

        </div>
    </div>
{{end}}

